<div class="import-content welcome-body container-fluid">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Finally a Hero</h1>
      <p class="lead">Advocating for victims and survivors of domestic abuse through the power of social media and film.</p>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="card col-md-3 mb-sm-2" style="width: 18rem;">
      <img src="../../images/core/michelle--green-square.png" class="card-img-top" alt="...">
      <div class="card-body overlay">
        <a href="about.html" class="overlay-text">About</a>
      </div>
    </div>

    <div class="card col-md-3 mb-sm-2" style="width: 18rem;">
      <img src="../../images/core/placeholder-image1" class="card-img-top" alt="...">
      <div class="card-body overlay">
        <a href="stories.html" class="overlay-text">Stories</a>
      </div>
    </div>

    <div class="card col-md-3 mb-sm-2" style="width: 18rem;">
      <img src="../../images/core/placeholder-image2.jpg" class="card-img-top" alt="...">
      <div class="card-body overlay">
        <a href="donations.html" class="overlay-text">Donations</a>
      </div>
    </div>
  </div>

  <div class="row justify-content-around margin-top">
    <div class="col-5 blurb">
      <h4 class="display-5">Know the Signs of...</h4>
      
      <h5>Phsyical Abuse</h5>
      <ul class="physical-abuse">
        <li>Black eyes</li>
        <li>Bruising on the arms, legs, or neck</li>
        <li>Busted lip</li>
        <li>Sprained wrists</li>
      </ul>

      <h5>Emotional Abuse</h5>
      <ul class="emotional-abuse">
        <li>Agitation or anxiety</li>
        <li>Changes in sleep habits</li>
        <li>Developing a Drug or Alcohol problem</li>
        <li>Extremely apologetic or meek</li>
        <li>Loss of interest in daily activities</li>
        <li>Low self-esteem</li>
        <li>Acting fearful</li>
        <li>Symptoms of depression</li>
      </ul>

      <h5>Controlling Behavior</h5>
      <ul class="controlling-behavior">
        <li>Requiring you ask permission before going anywhere or seeing family or friends</li>
        <li>Tracking or monitoring your calls, texts, emails, internet usage</li>
        <li>Needing to know where you are at at all times</li>
        <li>Not allowing you to have access to your own bank account, credit card, or money </li>
        <li>Not allowing you to have access to a car</li>
        <li>Accusing you of having affairs or constantly getting jealous and claiming they are just "over-protective"</li>
      </ul>

    </div>

    <div class="col-5 blurb">
      <h4 class="display-5">If you suspect you or a loved one are a victim of Domestic Violence</h4>
      <h5>Resources</h5>
      <ul class="quick-resources">
        <li><a href="https://www.thehotline.org/">National Domestic Violence Hotline</a>: 1-800-799-7233</li>
        <li><a href="https://www.loveisrespect.org/">National Dating Abuse Helpline</a>: 1-866-331-9474</li>
        <li><a href="http://www.childhelp.org/">National Child Abuse Hotline/Childhelp</a>: 1-800-4-A-CHILD (1-800-422-4453)</li>
        <li><a href="http://www.nationalhomeless.org/">National Coalition for the Homeless</a>: 1-202-737-6444</li>
        <li><a href="http://www.nationalcenterdvtraumamh.org/">National Center on Domestic Violence, Trauma & Mental Health</a>: 1-312-726-7020 ext. 2011</li>
      </ul>
      <div>*please note, our security measures do not extend to outside websites. However, most websites will have similar security measures in place.</div>
    </div>
  </div>
</div>
