<div class="import-content stories-body container-fluid">
  <div class="request-for-stories">
    Request For Stories Open
  </div>

   <div class="row">
    <div class="col">
      <div class="card" style="width: 80%;">
        <video controls width="450" class="card-img-top">
          <source src="/videos/video001.mp4" type="video/mp4" />
          Sorry, your browser doesn't support embedded videos.
        </video>
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>  
    </div>
  
    <div class="col">
      <div class="card" style="width: 80%;">
        <video controls width="450" class="card-img-top">
          <source src="/videos/video002.mp4" type="video/mp4" />
          Sorry, your browser doesn't support embedded videos.
        </video>
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>  
    </div>
  
    <div class="col">
      <div class="card" style="width: 80%;">
        <video controls width="450" class="card-img-top">
          <source src="/videos/video003.mp4" type="video/mp4" />
          Sorry, your browser doesn't support embedded videos.
        </video>
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>  
    </div>
  </div>

</div>
