<div class="import-content welcome-body container-fluid">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-5">Finally a Hero</h1>
      <p class="lead">Advocating for survivors of domestic abuse through the power of social media and film.</p>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="card col-md-3 mb-sm-2" style="width: 18rem;">
      <img src="../../images/core/michelle--green-square.webp" class="card-img-top" alt="...">
      <a href="#" onclick="anchor.navigate(event, 'about.html')">
        <div class="card-body overlay">
          <span class="overlay-text">About</span>
        </div>
      </a>
    </div>

    <div class="card col-md-3 mb-sm-2" style="width: 18rem;">
      <img src="../../images/core/placeholder-image1.webp" class="card-img-top" alt="...">
      <a href="#" onclick="anchor.navigate(event, 'stories.html')">
        <div class="card-body overlay">
          <span class="overlay-text">Stories</span>
        </div>
      </a>
    </div>

    <div class="card col-md-3 mb-sm-2" style="width: 18rem;">
      <img src="../../images/core/placeholder-image2.webp" class="card-img-top" alt="...">
      <a href="#" onclick="anchor.navigate(event, 'donations.html')">
        <div class="card-body overlay">
          <span class="overlay-text">Donations</span>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 jumbotron jumbotron-fluid disclaimer">
      <p><strong>Disclaimer</strong>
        <br>
        The material presented on this site is not an attempt to practice medicine or give specific medical 
        advice, including, without limitation, advice concerning the topic of mental health. The information 
        contained in this site is for the sole purpose of being informative and is not to be considered complete 
        and does not cover all issues related to mental health. To the extent that any information is not provided, 
        the views expressed are those of the author only. This information should not replace consultation with your 
        doctor or other qualified mental health providers and/or specialists. If you believe you or another individual 
        is suffering a mental health crisis or other medical emergency, contact your doctor immediately, seek medical 
        attention immediately in an emergency room, or call 911.
      </p>
    </div>
  </div>
</div>
