<div class="import-content about-body container-fluid">
    <div class="row">
        <div class="col-4">
            <img src="\images\core\michelle--green.png" class="michelle-profile">
        </div>
        <div class="col-8 text-center">
            <h3>Michelle's Story</h3>
            <p>
                Growing up in a small rural town outside of Columbus, Ohio should have been a pleasant experience for a little girl, but it was just the opposite. 
                Abuse was welcomed with open arms. With a low self-esteem, I then found myself in an abusive marriage, struggling to find a way out.
                I promised God I would empower these women if he saved my life, little did I know, he had me help men, women and children.
            </p>
        </div>
    </div>
</div>
