<div class="import-content welcome-body container-fluid">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-5" style="color: white;">Finally a Hero</h1>
      <p class="lead">Advocating for victims and survivors of domestic abuse through the power of social media and film.</p>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="card col-md-3 mb-sm-2" style="width: 18rem;">
      <img src="../../images/core/michelle--green-square.png" class="card-img-top" alt="...">
      <a href="about">
        <div class="card-body overlay">
          <span class="overlay-text">About</span>
        </div>
      </a>
    </div>

    <div class="card col-md-3 mb-sm-2" style="width: 18rem;">
      <img src="../../images/core/placeholder-image1" class="card-img-top" alt="...">
      <a href="stories.html">
        <div class="card-body overlay">
          <span class="overlay-text">Stories</span>
        </div>
      </a>
    </div>

    <div class="card col-md-3 mb-sm-2" style="width: 18rem;">
      <img src="../../images/core/placeholder-image2.jpg" class="card-img-top" alt="...">
      <a href="donations.html">
        <div class="card-body overlay">
          <span class="overlay-text">Donations</span>
        </div>
      </a>
    </div>
  </div>
</div>
