/* Adjust for Menu */
body {
  margin: 4em 2em;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: palegreen;

  padding: 0.25em 1em;
  text-align: center;
}

.footer p {
  margin-top: 1rem !important;
}

/* Navigation */
.active {
  background-color: #4CAF50;
}

.nav li a {
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #666;
}

.container {
  margin-top: 2rem;
}

.michelle-profile {
  width: 100%;
}

/* Login Page */
/* Request For Stories */
.inner-body-wrapper .request-for-stories,

.inner-body-wrapper .login-form,
.inner-body-wrapper .admin-page {
  display: none;
}

.inner-body-wrapper .request-for-stories.visible,

.inner-body-wrapper .login-form.visible,
.inner-body-wrapper .admin-page.visible {
  display: block;
}

.request-for-stories {
  background-color: palegreen;
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
}

.security {
  background-color: #f2b79f;
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom: 1em;
}

.about-body {
  margin-bottom: 1em;
}

.security .title {
  font-weight: bold;
}

.last{
  font-size: small;
  margin-bottom: 0;
  padding: .3em;
}
