*{
  box-sizing: border-box;
}
/* Adjust for Menu */
body {
  margin: 4em 2em;
  height: 100%;
  position: relative;
  padding: 0;
}

.main-body{ 
  align-items: stretch;
  align-content: space-between;
  margin-top: 2rem;
  position: relative;
  padding-bottom: 150px;
}

.welcome-body, .about-body{
  margin-top: 1rem;
}

/* Footer */

.footer {
  background-color: rgba(133, 87, 156, 0.89);
  color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.footer p {
  margin-top: 1rem !important;
}

/* Navigation */
.active {
  text-decoration: overline white !important;
}
.nav{
  background-color: rgba(133, 87, 156, 0.89);
  -webkit-box-shadow: 10px 3px 15px rgba(0, 0, 0, .3);
  -moz-box-shadow:    10px 3px 15px rgba(0, 0, 0, .3);
  box-shadow:         10px 3px 15px rgba(0, 0, 0, .3);
  z-index:999;
}
.nav li a {
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  text-decoration: underline white !important;
}

.navbar-brand, .navbar-brand:hover{
  color: white;
}

.michelle-profile {
  width: 100%;
}

/* Login Page */
/* Request For Stories */
.inner-body-wrapper .request-for-stories,

.inner-body-wrapper .login-form,
.inner-body-wrapper .admin-page {
  display: none;
}

.inner-body-wrapper .request-for-stories.visible,

.inner-body-wrapper .login-form.visible,
.inner-body-wrapper .admin-page.visible {
  display: block;
}

.inner-body-wrapper {
  padding: 1em 2em;
}

.request-for-stories {
  background-color: palegreen;
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
}

.scramble-button{
  text-align: end;
}
.security {
  background-color: #f2b79f;
  border-radius: 5px;
  padding: 0.25em 1em;
}

.about-body {
  margin-bottom: 1em;
}

.security .title {
  font-weight: bold;
}

.last{
  font-size: small;
  margin-bottom: 0;
  padding: .3em;
}

/* index - jumbotron */
.welcome-body .jumbotron{
  background-color: rgba(133, 87, 156, 0.89);
}


.display-4{
  color: white;
}

/* index - cards */
.index .row .card {
  position: relative;
  width: 50%;
  border: none;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(133, 87, 156, 1);
}

.card:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text:hover{
  text-decoration: underline white;
  color: black;

}

.contact-body {
  max-width: 900px;
  margin: 0 auto;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

