/* Adjust for Menu */
body {
  margin: 4em 2em;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: palegreen;

  padding: 0.25em 1em;
  text-align: center;
}

.footer p {
  margin-top: 1rem !important;
}

/* Navigation */
.active {
  background-color: #4CAF50;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #666;
}

.container {
  margin-top: 2rem;
}

.michelle-profile{
  width: 100%;
}
