<div class="import-content footer container-fluid">
  <a href="#" onclick="anchor.navigate(event, 'https://www.facebook.com/lovemelikeaprincesscolumbusohio/')" class="fa fa-facebook"></a>
  <a href="#" onclick="anchor.navigate(event, 'https://www.twitter.com/')" class="fa fa-twitter"></a>
  <a href="#" onclick="anchor.navigate(event, 'https://www.google.com')" class="fa fa-google"></a>
  <a href="#" onclick="anchor.navigate(event, 'https://www.linkedln.com')" class="fa fa-linkedin"></a>
  <a href="#" onclick="anchor.navigate(event, 'https://www.youtube.com')" class="fa fa-youtube"></a>
  <a href="#" onclick="anchor.navigate(event, 'https://www.instagram.com')" class="fa fa-instagram"></a>
</div>
