<div class="import-content footer container-fluid">

 <link rel="stylesheet" href="css/core.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<p>Follow Us </p>
<a href="https://www.facebook.com/lovemelikeaprincesscolumbusohio/" class="fa fa-facebook"></a>
<a href="https://www.twitter.com/" class="fa fa-twitter"></a>
<a href="https://www.google.com" class="fa fa-google"></a>
<a href="https://www.linkedln.com" class="fa fa-linkedin"></a>
<a href="https://www.youtube.com"" class="fa fa-youtube"></a>
<a href="https://www.instagram.com" class="fa fa-instagram"></a>
</div>
