<div class="import-content security">
  <div class="title">Security on the site.</div>
  <p>
    This site has been developed to create a minimal footprint in your
    browser history. This means that few files have been saved to your
    computer and there should only be a single link to this site that
    can be removed by clearing your search history.
  </p>
  <p class="last">
    Additionally, there is a "scramble" that will bring up a generic
    search. Use this is you are feeling threatened in any way to hide
    the contents of this site from view.
  </p>
</div>